@font-face {
    font-family: 'Fira Code';
    src: url("https://cdn.rawgit.com/dunovank/jupyter-themes/1e851888/jupyterthemes/fonts/monospace/firacode/firacode.otf") format("opentype");
  }
  
  .CodeMirror {
    font-family: 'Fira Code';
    font-variant-ligatures: initial;
  }
  
  .cm-string {
      font-variant-ligatures: none;
  }